<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/css-reset-and-normalize/css/reset-and-normalize.min.css">
  <link rel="stylesheet" href="/css/style.css" />
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  
  <title>Document</title>
</head>

<!-- Add Category  -->
  <input type="checkbox" id="category-modal" class="modal-toggle" />
  <label for="category-modal" class="modal cursor-pointer">
    <label class="modal-box relative" for="">
        <form action="/category/createCategory" autocomplete="off" method="POST">
          <span>Category</span>
          <input type="text" class="input input-bordered" id="category" name="category">
          <div class="modal-action">
            <button for="my-modal" class="btn" type="submit">Submit</button>
          </div>
        </form>
    </label>
  </label>

<!-- Add Item  -->
  <input type="checkbox" id="item-modal" class="modal-toggle" />
  <label for="item-modal" class="modal cursor-pointer">
    <label class="modal-box relative" for="">
      <div class="dropdown">
        <label tabindex="0" class="btn m-1">Select Category</label>
        <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
          <% for(var i=0; i<categories.length; i++) {%> 
          <li><a class="categoryId" data-id="<%=categories[i]._id%> "><%= categories[i].category %></a></li>
          <% } %>
        </ul>
      </div>
      
        <form action="/category/createItem" autocomplete="off" method="POST" id="categoryForm">
          <span>Item</span>
          <input type="text" class="input input-bordered" id="itemName" name="itemName">
          <br>
          <span>Price</span>
          <input type="text" class="input input-bordered" id="itemPrice" name="itemPrice">
          <div class="modal-action">
            <button for="my-modal" class="btn" type="submit">Submit</button>
          </div>
        </form>
    </label>
  </label>

<!-- Add Table -->
<input type="checkbox" id="add-item-modal" class="modal-toggle" />
  <label for="add-item-modal" class="modal cursor-pointer">
    <label class="modal-box relative" for="">
        <form action="/table/createTable" autocomplete="off" method="POST" id="categoryForm">
          <span>Table:</span>
          <input type="text" class="input input-bordered" name="tableNumber">
          <div class="modal-action">
            <button for="my-modal" class="btn" type="submit">Submit</button>
          </div>
        </form>
    </label>
  </label>

<body>
  <div class="root-container">
    <section class="nav-container">
      <%- include('partials/header') -%>
    </section>

    <section class="main">
      <label class="search-label">
        <input class="search-input" type="text" placeholder="Search">
        <!-- The button to open modal -->
        <label for="category-modal" class="btn modal-button">Add Category</label>
        <label for="item-modal" class="btn modal-button">Add Item</label>
      </label>

      <div class="categories">
        <% for(var i=0; i<categories.length; i++) {%> 
        <div class="category" data-id="<%=categories[i]._id%>">
            <svg class="category--icon" xml:space="preserve" viewBox="0 0 330.655 330.655">
              <path d="M255.203 201.526h15.452c33.084 0 60-26.916 60-60s-26.916-60-60-60h-.194c-.012-12.151-.027-21.429-.043-21.914l-.017-.483h-250.8l-.018.482c-.049 1.422-.082 78.628-.083 81.914 0 40.773 19.549 77.061 49.761 100H0v30h290v-30h-69.261a126.392 126.392 0 0 0 34.464-39.999zm15.296-60c0-1.319-.006-14.546-.016-30h.171c16.542 0 30 13.458 30 30s-13.458 30-30 30h-3.788a125.324 125.324 0 0 0 3.633-30z"/>
            </svg>
            <div class="category--title"><%= categories[i].category %></div>
            <div class="category--amount"><%= categories[i].items.length %> items</div>             
        </div>
        <% } %>
      </div>

      <div class="items">
        <% for(let i=0; i<categories.length; i++) {%>
          <% for(let j=0; j<categories[i].items.length; j++) {%>
          <div class="item" id="<%= categories[i].items[j]._id%>" data-item ="<%= categories[i]._id%>">
          <div class="item--location"><%= categories[i].category %></div>
          <div class="item--title"><%= categories[i].items[j].name %></div>
          <div class="item--price"><%= categories[i].items[j].price %></div>
          <div class="empty"></div>
          <div class="item--quantity">
            <button class="quantity--minus quantity--minus-disabled">-</button>
            <div class="quantity--amount">-</div>
              <button class="quantity--add">+</button>
          </div>
        </div>
          <% } %>  
        <% } %>
    </section>
    
    <section class="checkout"> 
      <div class="table">
        <div class='dropdown'>
          <label tabindex="0"  id="<%=tables[i]._id%>" class="dropdown--table m-1"><%= `Table ${tables[i].tableNumber}` %></label> 
            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
            <% for(let i=0; i<tables.length; i++) {%>
              <li class="dropdown--item">
                  <a id="<%= tables[i]._id%>"><%= `Table: ${tables[i].tableNumber}` %></a>
              </li>
            <% } %> 
            </ul>          
      </div>
        <label for="add-item-modal" class="btn modal-button">+</label>
      </div>

      <div class="order-detail">
        <div class="table-item-container">
        </div>
        <div class="recipet-container">
          <div class="subtotal-container">
            <div class="subtotal">Subtotal</div>
            <div class="empty"></div>
            <div class="subtotal--price">$171</div>
          </div>
          <div class="tax-container">
            <div class="tax">Tax 10%</div>
            <div class="empty"></div>
            <div class="tax--price">$17.15</div>
          </div>
          <div class="recipet-dash-line"></div>
          <div class="total-container">
            <div class="total">Total</div>
            <div class="empty"></div>
            <div class="total--price">$188.65</div>
          </div>
          <button class="place-order">Place order</button>
        </div>
      </div>
    </section>
  </div>
  <script>
    var tables = JSON.parse('<%-JSON.stringify(tables)%>');
  </script>
  <script src='js/main.js'></script>
</body>
</html>