<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/css-reset-and-normalize/css/reset-and-normalize.min.css">
  <link rel="stylesheet" href="/css/style.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  
  <title>KingPOS</title>
</head>
<body>
  <div class="root-container">

    <section class="nav-container">
      <%- include('partials/header') -%>
    </section>    

    <div class="orders-container">
      <div class="orders-section">
      <section class="orders-header">
        <h1>ORDERS</h1>
        <p class="text"><%= data.length %> total orders</p>
      </section>
      <section class="orders-header-details">
        <p class="text">Date</p>
        <p class="text">Orders Count</p>
        <p class="text">Total</p>
        <p class="text">Actions</p>
      </section>

      <% for (let date in dateMap) { %>
        <section class="orders-info-container">
          <div class="orders-info-card">
            <p class="text order-card-date"><%= date %></p>
            <% let orders = dateMap[date]; %>
            <% let orderCount = orders.length; %>
            <% let orderTotal = orders.reduce((total, order) => total + order.totalPrice, 0); %>
            <p class="text order-card-count"><%= orderCount %></p>
            <p class="text order-card-total">$<%= (orderTotal).toFixed(2) %></p>
            <button class="order-card-action" id="order-card-action-<%= date %>">More ▼</button>
          </div>
          <% for (let order of orders) { %>
          <div class="order-info-extended" id="order-info-extended-<%= date %>">
              <p class="text">Table: <%= order.tableNumber %></p>
              <p class="text"><%= order.completedAt.toLocaleTimeString() %></p>
              <p class="text">$<%= (order.totalPrice).toFixed(2) %></p>
              <p class="text">Edit</p> 
          </div>
          <% } %>
        </section>
      <% } %>
     

    </div>
    </div>
    <script>
      const data = JSON.parse('<%-JSON.stringify(data)%>')
      const dateMap = JSON.parse('<%-JSON.stringify(dateMap)%>');
    </script>
    <script src='js/main.js'></script>
  </div>
</body>
</html>
