<!DOCTYPE html>
<html lang="en" class="overlay">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/css-reset-and-normalize/css/reset-and-normalize.min.css">
  <link rel="stylesheet" href="/css/style.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  
  <title>KingPOS</title>
</head>
<body>
  <div class="root-container">

    <section class="nav-container">
      <%- include('partials/header') -%>
    </section>    

      <div class="dashboard--container">

        <div id="popup-container" style="display: none">
          <div id="popup">
            <h2>Add Item</h2>
            <select id="category-dropdown">
              <option value="Select Category">Select Category</option>
              <% categoryData.forEach(category => { %>
              <option value="<%= category.category %>" class="category-id-option" id="<%= category._id %>"><%= category.category %></option>
              <% }) %> 
            </select>
            <input type="text" id="name-input" placeholder="Name">
            <input type="number" id="price-input" placeholder="Price" min="0" step="1">
            <div id="button-container">
              <button id="submit-button">Submit</button>
              <button id="cancel-button">Cancel</button>
            </div>
          </div>
        </div>

        <div id="add-product-dialog" style="display:none;">
          <input id="add-product-input" type="text" placeholder="Enter product title...">
          <button id="add-product-submit" type="button">Submit</button>
          <button id="add-product-cancel" type="button">Cancel</button>
        </div>
        
        <section class="dashboard">
          <div class="dashboard--header">
            <h1>Products</h1>
            <p class="products-length"><%= categoryData.reduce(((acc, prev) => acc + prev.items.length), 0) %> Products</p>
          </div>
          <div class="date-buttons category-buttons">
            <input class="product-search-input" id="product-search-input" type="text" placeholder="Search">
            <button class="text add-product-button" type="text" placeholder="Add Product">Add Product</button>
          </div>
          <div class="category-header">
            <p>Product</p>
            <p>Action</p>
          </div>
          <div class="product-card-container">
              <% categoryData.forEach(category => { %>
                <% category.items.forEach(item => { %>
                  <div class="product-card" id="<%= category._id %>">
                    <div class="product-card-details">  
                      <p class="product-name"><%= item.name %></p>
                      <p class="product-description">-<%= category.category %></p>
                    </div>
                    <div class="product-card-actions" id="<%= item._id  %>">
                      <p class="product-price">$<%= item.price %></p>
                      <button class="product-edit">EDIT</button>
                      <button class="product-delete">DELETE</button>
                    </div>
                  </div>
                  <% }) %> 
              <% }) %> 
          </div>
        </section>
      </div>
      
    <script>
      const categoryData = JSON.parse( '<%- JSON.stringify(categoryData) %>' )
      
      categoryData.forEach(category => {
        // console.log(category._id)
        category.items.forEach(item => {
          //console.log(category.items)
          category.items.forEach( item => {
            // console.log(item._id)
          })
        })
      })
    </script>
    <script src='js/main.js'></script>
  </div>
</body>
</html>
